@import "susy";

$total-columns  : 2;
$column-width   : 10em;
$gutter-width   : 1em;
$grid-padding   : 2em;

$spacing: $grid-padding;

$show-grid-backgrounds  : true;

$break : 3;

$headline-font : 'IM Fell English', serif;
$body-font : 'Merriweather', serif;

$creme-color: #f9edd1;
$nick-red-color: #63180e;
$dark-brown-color: #3b2d23;
$white-christmas-color: #fff;
$light-christmas-green-color: #527040;
$dark-chistmas-green-color: #324228;

* {
  margin: 0;
  padding: 0;
}

body, html, .background {
  width: 100%;
  height: 100%;
}

body {
  font-family: $body-font;
}

p {
  font-size: 0.9em;
}

.background {
  background-image: url(/img/sl_background.gif);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}

img {
  max-width: 100%;
  width: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: $dark-brown-color;
}

a > img {
  vertical-align: bottom;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

h1, h2, h3 {
  font-family: $headline-font;
  font-weight: normal !important;
}

h1, h2 {
  text-transform: uppercase;
}

h2 {
  color: $nick-red-color;
  padding-bottom: 1em;
}

h3 {
  color: $dark-chistmas-green-color;
  padding-bottom: 0.5em;
  font-size: 1.75em;
}

p {
  padding-bottom: 1em;
}

.container {
  @include container($total-columns, $break);
}

ol {
  list-style: none;
}

li {
  display: inline-block;
}

section, .featured {
  margin: 0 0 -$grid-padding;
  padding: 0 $grid-padding;
}

#featured-video {
  padding: 0;
}

#header-copy {
  @include span-columns($total-columns);
  background-color: rgba($white-christmas-color, 0.85);
  padding-top: $spacing;
  padding-bottom: $spacing;
}

#advent {
  @include span-columns($total-columns);
  background-color: rgba($creme-color, 0.85);
  padding-top: $spacing;
  padding-bottom: $spacing;
}

#videos {
  color: black;
}

//#footer {
//  background-color: rgba($white-christmas-color, 0.85);
//}

.description {
  line-height: 1.25em;
  padding-bottom: 1em;
  font-size: 0.8em;
  position: absolute;
  left: 0;
  top: 98%;
}

.video-preview {
  padding-bottom: 1em;
}

.revealed {
  @include span-columns(2, 2);
  position: relative;
  margin-bottom: 4.25em;
}

.tile {
  @include span-columns(1);
  margin-bottom: 1em;
  &:nth-child(2n+1) {
    margin-right: 0;
    float: right;
  }
}

.social {
  padding-top: 1em;
}

#first-impressions {
  background: rgba($light-christmas-green-color, 0.85);
  color: $creme-color;
  padding-top: $spacing;
  padding-bottom: $spacing;
}

.sl-logo {
  background: transparent url("/img/sl_sprite.png") no-repeat -500px 0px;
  width: 116px;
  height: 132px;
  margin: 0 auto;
  padding-bottom: 1em;
}

.logo-banner {
  width: 100%;
}

.logo-banner h1 {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  line-height: 1.15em;
}

.play {
  width: 25%;
  height: 25%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -6%;
  top: 58%;
}

.video-link:hover .play {
  background-image: url(/img/buttons/button_play_on.png);
  cursor: pointer;
}

$icons : facebook twitter email play arrow;

@each $icon in $icons {
  .#{$icon} {
    background: transparent url(/img/buttons/button_#{$icon}_off.png) no-repeat;
    background-size: contain;
  }

  .#{$icon}:hover {
    background-image: url(/img/buttons/button_#{$icon}_on.png);
  }
}

.social-icon {
  width: 70px;
  height: 77px;
  float: left;
  margin-right: 0.55em;
}

.social-icon:hover {
  cursor: pointer;
}


.arrow {
  width: 70px;
  height: 77px;
  float: left;
}

@include at-breakpoint($break) {
  @include with-grid-settings($break,13em, 2em) {
    h3 {
      font-size: 1.6em;
    }

    .intro p {
      padding-right: 2em;
      font-size: 86%;
      line-height: 1.5em;
    }

    .container {
      @include container;
    }

    .intro {
      @include span-columns(2);
    }
    #first-impressions{
      @include span-columns($total-columns);
      h1{
         display: inline;
        @include span-columns(2 omega);
        padding: 2.5em 0 0 0;

      }
      .sl-logo{
        @include span-columns(1);
        display:block;
        padding: 0em ;
        margin: 0em;
        margin-right: -6em;
      }
    }

    .social {
      @include span-columns(1 omega);
    }

    .social-icon {
      margin-right: 0.45em;
      width: 58px;
    }
    .tile { @include span-columns(1); &:nth-child(2n+1) { float: left; margin-right: -100%; }}
    .revealed { @include span-columns(1); }
    .video { @include isolate-grid(1); }

  }

}
@include at-breakpoint(4) {

  h1{
    display: inline;
    float: left !important;
    @include span-columns(2 omega);
    padding: 2.5em 0 0 0;
  }

  .sl-logo{
    @include span-columns(1);
    display:block;
    padding: 0em ;
    margin: 0em;
    margin-right: -8em;
  }

}


#footer{
  background-color: rgba($white-christmas-color, 0.85);
  padding: 0em 0em 0em 0em !important;

  .learn-more{
    @include at-breakpoint(2) {
      @include span-columns(2);
    }
  }

  h2 {
    float: left;
    line-height: 77px;
    text-transform: uppercase;
    padding-right: 1em;
  }

  #footer-ad {
    @include span-columns(2);
    margin: 0 !important;
    padding: 0;
  }

  #footer-ad > img {
    vertical-align: bottom;
    width: 100%;
    padding: 0;
  }

  @include at-breakpoint($break) {
    .learn-more{
        @include span-columns(1);
      }
    #footer-ad {
      @include span-columns(2);
    }

  }

  @include at-breakpoint(1) {
    @include with-grid-settings(1, 21em, 0.25em) {
      @include container;
    }
  }

  @include at-breakpoint(2) {
    @include with-grid-settings(2, 12.5em, 0em) {
      @include container;
    }
  }
  @include at-breakpoint(3) {

    @include with-grid-settings($break, 13.5em, 0.25em) {
      @include container;

    }
  }
  @include at-breakpoint(4) {

    @include with-grid-settings(4, 11.5em, 0.25em) {
      @include container;
    }
  }

}
