/* line 12, ../../sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 17, ../../sass/main.scss */
img {
  max-width: 100%;
  width: 100%;
}

/* line 22, ../../sass/main.scss */
.container {
  *zoom: 1;
  max-width: 21em;
  _width: 21em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 32em) {
  /* line 22, ../../sass/main.scss */
  .container {
    max-width: 32em;
  }
}

/* line 26, ../../sass/main.scss */
h1 {
  width: 65.625%;
  float: left;
  margin-right: 3.125%;
  display: inline;
}

/* line 30, ../../sass/main.scss */
ol {
  list-style: none;
}

/* line 34, ../../sass/main.scss */
li {
  display: inline-block;
}

/* line 38, ../../sass/main.scss */
.advent {
  width: 100%;
  float: left;
  margin-right: 4.7619%;
  display: inline;
  background-color: #f9edd1;
}

/* line 43, ../../sass/main.scss */
#videos {
  color: red;
}

/* line 47, ../../sass/main.scss */
.revealed {
  width: 100%;
  float: left;
  margin-right: 4.7619%;
  display: inline;
}

/* line 51, ../../sass/main.scss */
.tile {
  width: 47.61905%;
  float: left;
  margin-right: 4.7619%;
  display: inline;
  margin-right: -100%;
}
/* line 42, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.9/sass/susy/_isolation.scss */
.tile:nth-child(2n + 1) {
  margin-left: 0%;
  clear: left;
}
/* line 42, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.9/sass/susy/_isolation.scss */
.tile:nth-child(2n + 2) {
  margin-left: 52.38095%;
  clear: none;
}

@media (min-width: 32em) {
  /* line 56, ../../sass/main.scss */
  .breaker {
    clear: none;
    width: 0;
    height: 0;
  }

  /* line 57, ../../sass/main.scss */
  .tile {
    width: 31.25%;
    float: left;
    margin-right: 3.125%;
  }

  /* line 58, ../../sass/main.scss */
  .revealed {
    width: 31.25%;
    float: left;
    margin-right: 3.125%;
  }

  /* line 59, ../../sass/main.scss */
  #videos ol li {
    width: 31.25%;
    float: left;
    margin-right: 3.125%;
    margin-right: -100%;
  }
  /* line 42, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.9/sass/susy/_isolation.scss */
  #videos ol li:nth-child(3n + 1) {
    margin-left: 0%;
    clear: left;
  }
  /* line 42, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.9/sass/susy/_isolation.scss */
  #videos ol li:nth-child(3n + 2) {
    margin-left: 34.375%;
    clear: none;
  }
  /* line 42, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.9/sass/susy/_isolation.scss */
  #videos ol li:nth-child(3n + 3) {
    margin-left: 68.75%;
    clear: none;
  }
}
