<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="Check out these videos of amazing Holiday Stories of the past from The Springs Living!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=IM+Fell+English' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
      <div class="background">
      </div>

      <div class="container">

        <section id="first-impressions">
          <div class="logo-banner">
            <div class="sl-logo"></div>
            <h1>Stories of Holidays&nbsp;Past</h1>
          </div>
        </section>

        <section id="featured-video">
          <a href="{{featured}}"><img src="img/featured_video.jpg"></a>
        </section>

        <section id="header-copy">
            <div class="intro">
              <h2>Welcome to our holiday stories calendar.</h2>
              <p>The Holidays bring some of the most memorable moments in life. There are tremendous stories of selflessness, generosity and the capacity for the human heart to show love to others. Often those stories have a healthy dose of laughter as well. The Springs Living is happy to bring you some stories from the amazing hearts that reside in our communities.</p>
              <h2>We hope you enjoy, and may your holiday be one to remember.</h2>
            </div>
            <div class="social">
              <h3>Share the stories...</h3>
              <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcreoagency.com&display=popup "><div class="social-icon facebook"></div></a>
              <a href="http://twitter.com/share?text=Check%20out%20these%20videos%20of%20amazing%20Holiday%20Stories%20of%20the%20past%20from%20The%20Springs%20Living!&url=http://www.creoagency.com" target="_blank"><div class="social-icon twitter"></div></a>
              <a href="mailto:?subject=Check out these amazing Holiday videos!&body=The Springs Living has made short videos about their residence's favorite holiday memories! I hope you enjoy as much as I did! http://tjklemz-mac.local:3001
"><span class="social-icon email"></span></a>
              <div style="clear: both"></div>
            </div>
        </section>

        <section id="advent">
          <h2>A new video unlocked everyday!</h2>
          <p>Keep coming back! Everyday in December there will be a new video unlocked for you to enjoy.</p>
          
              <ol>
                {{#videos}}
                  <li class="video revealed">
                    <a class="video-link" href="{{url}}"><img class="video-preview" src="img/calendar_boxes/calendar_boxes_{{day}}.gif" alt="Day {{day}}"><div class="play"></div></a>
                    <span class="description">{{day}}. {{name}}</span>
                  </li>
                {{/videos}}

                {{#upcoming}}
                  <li class="video tile"><img src="img/calendar_boxes/calendar_boxes_{{.}}.gif" alt="Day {{.}}"></li>
                {{/upcoming}}
                <div style="clear: both;"></div>
              </ol>
        </section>

        <section id="footer-ad">
          <img src="img/sl_footer_ad.jpg">
        </section>

        <section id="footer">
          <p>To learn more about The Springs Living, visit our homepage for communitites and contact information.</p>
          <a href="http://www.thespringsliving.com/">
            <h2>Learn More</h2>
            <span class="arrow"></span>
          </a>
          <div style="clear: both"></div>
        </section>
      </div>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </body>
</html>
